.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;

  &.done {
    text-decoration: line-through;
    color: #888888;
  }

  input {
    scale: 1.5;
  }

  button {
    background: red;
    padding: 5px 10px;
    transition: background .3s;
    border: none;

    &:hover {
      background: darkred;
    }
  }
}