form {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 25px;
  background: #4c4c4c;
  padding: 0 15px;
  border-radius: 15px;
  position: relative;

  p {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  h3 {
    font-size: 1.1rem;
  }

  input {
    height: 25px;

    &[type='text'] {
      width: 80%;
    }

    &[type='submit'] {
      text-transform: uppercase;
      height: 35px;
      background: #15ce92;
      border: none;
      padding-inline: 15px;
      border-radius: 10px;
      font-weight: bold;
      color: black;
      transition: background .3s;

      &:disabled, &:disabled:hover {
        background: #4c4c4c;
      }

      &:hover {
        background: #0fda3e;
      }

    }
  }
}