.content {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;

  & > button {
    background-color: #747bff;
    width: 100%;
    transition: background-color .3s;


    &:hover {
      background-color: #535bf2;
    }

    &:focus {
      outline: none;
    }
  }

  .list {
    padding: 2px 5px;
    margin: 15px 0;

    h4 {
      font-size: .9rem;
      background-color: #888888;
      color: white;
      text-align: center;
      padding: 0 15px;
      border-radius: 5px;
    } // h4

    div {
      transition: all .3s;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      &.selected {
        scale: 1.1;
        font-weight: bold;
        box-shadow: 1px 1px 5px rgba(0,0,0,.7);
      } // &.selected
      &.unselectable {
        text-decoration: line-through;
        color: #4c4c4c;
        cursor: not-allowed;
      }
    } // div
  } // .list
} // .content